*{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.row
{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:24.99%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:66.66%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.66%;
}
.col-12{
	width:100%;
}
.banner{
	background-image:url("../img/academy-banner.jpg");
}
.vh-100
{
	height:100vh;
}
.banner h1{
	font-size:45px;
	text-transform:uppercase;
	font-weight:bolder;
}
.text-right{
	text-align:right;
}
.align-items-center
{
	align-items:center;
}
.mt-5{
	margin-top:3rem;
}
.py-5{
	padding-top:3rem;
	padding-bottom:3rem;
}
.container{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	max-width:1140px;
}
.bg-black{
	background-color:black;
}
.bg-black p{
	color:#fff;
	padding:15px;
}
.p-5{
	padding:3rem;
}
.features p:before{
	content:"{";
color:red;	
}
.features p:after{
content:"}";
color:red;	
}
.margin-left{
	margin-left:-200px;
}
.text-center{
	text-align:center;
}
.justify-content-center{
	justify-content:center
}
.modulebg{
	background-image: url("../img/modulebg.jpg");
}
.rounded{
	border-radius: 20px;
}
.text-white{
	color:white;
}
.p-2{
	padding:20px;
}
.d-flex{
	display:flex;
}
.interview{
	background-image:url("../img/testsbg.jpg");
}
.interview1{
	background-image:url("../img/intrvwbg.jpg");
}
.vh{
	height:350px;
}
.interview > div
{
	background-color:rgb(0,0,0,0.6);
	color:white;
}
.interview1 > div
{
	background-color:rgb(0,0,0,0.6);
	color:white;
}
.btn{
	text-decoration:none;
	color:red;
	border:1px solid red;
	padding:20px;
	border-radius: 10px;
}